@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3 {
  font-family: var(--font-inter);
}

p {
  font-family: var(--font-dm-sans);
}

.card__container {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 9px;
}

.card__container-item {
  width: 20%;
  height: 100%;
  /* background: rgb(52, 73, 94); */
}

.card__container-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  transition: 0.5s all cubic-bezier(0.65, 0, 0.35, 1);
  border-radius: 24px;
}

.card__container-item .text {
  opacity: 0;
  transform: scale(0);
  transition: 0.5s all cubic-bezier(0.65, 0, 0.35, 1);
}

.card__container-item:hover {
  width: 60%;
}

.card__container-item:hover .text {
  opacity: 1;
  transform: scale(1);
}

/* .card__container :nth-of-type(2n) {
  background: rgb(230, 126, 34);
} */



  .title_font {
    @apply font-[600] ml-[20px] my-[24px] text-[24px] md:text-[48px]
  }

  /* Animation on scroll */
  .initiallyHidden {
    opacity: 0;
  }
  .showOnView {
    opacity: 1;
    transition: all ease-in-out 1s;
  }
  .translateLeft {
    transform: translate(-30px, 0);
  }
  .translateRight {
    transform: translate(0px, 0);
  }
  .translateUp {
    transform: translate(0, 0px);
  }
  .translateDown {
    transform: translate(0, 25px);
  }


  /* Scroll text animation */
  @media (width <= 600px) {   
    @keyframes scrollText {
      20% {
        transform: translateY(0%);
      }
      100% {
        transform: translateY(-100%)
      }
    }
  }
  @media (width > 600px) {   
    @keyframes scrollText {
      20% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%)
      }
    }
  }

  /* Hide element animation */
  @keyframes hideElement {
    80% {
      opacity: 50%;
    }
    100% {
      opacity: 0%;
    }
  }

  /* Show element animation */
  @keyframes showElement {
    0% {
      opacity: 0%;
    }
    20% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
  }

  /* Hide element animation */
  @keyframes translateUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-125px);
    }
    100% {
      transform: translateY(-250px);
    }
  }